@import './base.css';
@import './font.css';

#app {
    width: fit-content;
    min-height: 100vh;
    font-weight: normal;
    min-width: 100vw;
}

::-webkit-scrollbar {
    width: 13px;
    /* Ширина скроллбара */
    border-radius: 3px;
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    border: 2px solid var(--LightBlack, #1f2b3e);
    background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
    background: #1f2b3e;
    border-radius: 1px;
}
